#main_container{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.05vw;
    font-weight: 100;
    line-height: 2.1;
    letter-spacing: 0.01vw;
    position:absolute;
    top: 8%;
    bottom: 0px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 85%;
    color: #666;
    background-color: #fdfdfd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 4px;
    z-index:-1;
}
/* map link */
#map_link {
    color: #333;
    float:left;
    width:4%;
    margin-left:1%;
    margin-top:3%;
}

#glob{
    width:100%;
}

#mail {
   float:right;
   width:3%;
}

/* default link */
a{
    color: #333;
    font-weight: 100;
    font-size: 1.em;
    text-decoration: none;
    -webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
    letter-spacing: 1.7em;
} 

a:hover {
    color:#fff;
}
/* medaillon */
#article_pic_container{
    width: 44%;
    height:auto;
    float:left;
    margin-top:-4%;
}

#article_pic {
    margin-left:42.5%;
    width: 20%;
    z-index: +1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    box-shadow: 0px 0px 1px #444;
}

/* article */
#article_container{
    position: absolute;
    width: 44%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    float: left;
    border-right: 1px solid #ddd;
    z-index:-1;
}

.article_header {
    padding: 0;
    margin: 0;
    margin-top: 6%;
    margin-bottom: 1%;
}

.article_title{
    font-weight: 100;
    font-size: 0.8vw;
    text-transform: uppercase;
    color: #333;
    float: left;
    width: 100%;
    margin-top: 0%;
    margin-left: 0;
    letter-spacing: 0.2em;
    text-align: center;
}

.article_date{
    text-align: center;
    float: left;
    width: 100%;
    font-weight: 100;
    font-size: 0.7vw;
    text-transform: uppercase;
    color: #777;
    margin-top: 0;
    margin-left: 0;
}

.content{
    margin-top: 10%;
    font-size: 0.9em;
    overflow-y: scroll;
    height:73%;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 5%;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 3%;
}

/* picture viewer */

#phot_viewer {
    height: 80%;
    margin-bottom: 3%;
    border-radius: 2px;
}

#pic_container {
    width: 48%;
    height: 85%;
    padding:4%;
    margin-right: 0%;
    float: right;
}

#pic_wrapper {
    overflow:hidden;
    max-width:40%;
    margin-auto;
}


.pic_list {
    width: 40%;
    height: 5%;
    margin: 2% auto 0;
    position: relative;
}

.pic_list ul {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 50%;
}

.pic_list li:first-child {
    margin-left: 6%;
}

.pic_list li {
    float: left;
    margin-right: 6%;
}

.pic_list li:last-child {
    margin-right: 0;
}

.pic_list a {
    width: 6px;
    height: 6px;
    display: block;
    outline: none;
    border: none;
    position: relative;
    z-index: 2;
    background: none;
    border:1px solid #aaa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pic_list a:hover {
    background: none;
    border: 1px solid #888;
}


