html {font-size: 100%;}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9vw;
    background-color: #eee;

    position: fixed;
    background-image: url("../resources/header2.JPG");
    background-size: 100%;
    z-index: -1;
}


