html {font-size: 100%;}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9vw;
    background-color: #eee;

    position: fixed;
    background-image: url("../resources/background/header2.jpg");
    background-size: 100%;
    z-index: -1;
}

/* scrollbar webkit */
::-webkit-scrollbar { width:9px; }
::-webkit-scrollbar-track { background: none;}
::-webkit-scrollbar-thumb { border-radius:15px; background: rgba(50,50,50, 0.5); }
::-webkit-scrollbar-thumb:window-inactive { background: #eee;}
