html {font-size: 100%;}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 0.9vw;
    background-color: #eee;

    position: fixed;
    background-image: url("../resources/background/header2.jpg");
    background-size: 100%;
    z-index: -1;
}

/* scrollbar webkit */
::-webkit-scrollbar { width:1px; }
::-webkit-scrollbar-track { border: 1px solid #ddd; border-radius:9px; background: none;}
::-webkit-scrollbar-thumb { border-radius:15px; background: rgba(100,100,100, 0.1); border:1px solid #aaa; }
::-webkit-scrollbar-thumb:window-inactive { background: #eee;}
