.subunits.RUA { fill: #def2df; }
.subunits.RUE { fill: #def2df; }
.subunits.RUK { fill: #def2df; }
.subunits.CHI { fill: #f4ffdb; }
.subunits.CHH { fill: #f4ffdb; }
.subunits.MNG { fill: #f2e6de; }

.subunit-boundary {
  fill: none;
  stroke: #ff6600;
  stroke-linejoin: round;
}

.place-label, .art-label {
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px #888;
}


.place, .place-label{
    fill: #222;

}

.art_circle, .art-label {
    fill: #a11;
}


#map_container svg{
    display:block;
    margin:auto;
    margin-top:2%;
}


.subunit-label {
 fill:#777;
 fill-opacity: .5;
 text-anchor:middle;
 font-weight:300;
 text-transform:uppercase;
}
