
.subunits.RUA { fill: #def2df; }
.subunits.RUE { fill: #def2df; }
.subunits.RUK { fill: #def2df; }
.subunits.CHI { fill: #f4ffdb; }
.subunits.CHH { fill: #f4ffdb; }
.subunits.MNG { fill: #f2e6de; }

.subunit-boundary {
  fill: none;
  stroke: #ff6600;
  stroke-linejoin: round;
}

.place, .place-label{
    fill: #222;
}

