
.subunits.RUA { fill: #ddddff; }
.subunits.RUE { fill: #ddddff; }
.subunits.RUK { fill: #ddddff; }
.subunits.CHI { fill: #dd8888; }
.subunits.CHH { fill: #dd8888; }
.subunits.MNG { fill: #77aa55; }

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.place, .place-label{
    fill: #222;
}

