<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>HK Blog</title>
    <meta charset="utf-8" />
    <!--JS-->
    <script src="../static/lib/react.min.js"></script>
    <script src="../static/lib/react-dom.min.js"></script>
    <script src="../static/lib/browser.min.js"></script>
    <script src="../static/lib/jquery.min.js"></script>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/article.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
  </head>
  <body>
    <img id="title_pic" src="../static/resources/corsica_logo.JPG" alt='title picture'></img>
    <div id="main_container">
        <div id="react_content"></div>
        <img id="phot_viewer" src="../static/resources/vulcano.JPG" alt='landscape'>
    </div>
    <script type="text/babel">

        function formatDate(articleDate) {
            var separator = " "+'\u0966'+" ";
            var d = new Date(articleDate);
            return d.getFullYear()+separator+d.getMonth()+separator+d.getDate();
        }

        var ArticleList = React.createClass({
            render: function() {
                console.log(this.props.data);
                var articleNodes = this.props.data.map(function (article) {

                    return (
                        <div className="article">
                            <div className="article_header" id={article.id}>
                                <span className="article_title">{article.title}</span>
                                <span className="article_date">{formatDate(article.date)}</span>
                            </div>
                            <br />
                            {article.content}
                            <br />
                        </div >
                    );
                });
                return (
                    <div id="article_container">
                    {articleNodes}
                    </div>
                );
            }
        });

        var ArticleContainer = React.createClass({
        loadCommentsFromServer: function() {
            $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data.article});
                    }.bind(this),
                    error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                }.bind(this)
            });
        },
        getInitialState: function() {
            return {data: []};
        },
        componentDidMount: function() {
            this.loadCommentsFromServer();
            setInterval(this.loadCommentsFromServer, this.props.pollInterval);
        },
        render: function() {
            return (
                <ArticleList data={this.state.data} />
                );
            }
        });

        ReactDOM.render(
          <ArticleContainer url="http://127.0.0.1:5000/articles/1" pollInterval={2000} />,
          document.getElementById('react_content')
        );
    </script>
  </body>
</html>
