<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>HK Blog</title>
    <meta charset="utf-8" />
    <!--JS-->
    <script src="../static/lib/react.min.js"></script>
    <script src="../static/lib/react-dom.min.js"></script>
    <script src="../static/lib/browser.min.js"></script>
    <script src="../static/lib/jquery.min.js"></script>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/article.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
  </head>
  <body>
    <div id="react_content"></div>
    <script type="text/babel">

        function formatDate(articleDate) {
            var separator = " "+'\u0966'+" ";
            var d = new Date(articleDate);
            return d.getFullYear()+separator+d.getMonth()+separator+d.getDate();
        }
                    

        var Wrapper = React.createClass({
            render: function() {
                console.log(this.props.data);
                console.log(document.getElementById("pic_list"));
                var pics = this.props.data.pictures.map(function(p) {
                    return (
                        <li>
                            <a href={"#five"+p.title}></a>
                        </li>
                    );
                });
                return (
                    <div>
                        <div id="main_container">
                            <a id="map_link" href="http://188.166.174.48:8080/map">MAPPEMONDE</a>
                            <div id="article_container">
                                <div className="article_header" id={this.props.data.id}>
                                    <span className="article_title">{this.props.data.title}</span>
                                    <span className="article_date">{formatDate(this.props.data.date)}</span>
                                </div>
                                <br />
                                <p className="content">{this.props.data.content}</p>
                                <br />
                            </div >
                            <div id="pic_container">
                                <img id="phot_viewer" src={"../static/resources/pictures/"+this.props.data.pictures[0].title+"_large.jpg"}></img>
                                <ul id="pic_list">{pics}</ul>
                            </div>
                        </div>
                    </div>
                );
            }
        });

        var ArticleContainer = React.createClass({
        loadCommentsFromServer: function() {
            $.ajax({
                    url: this.props.url,
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        this.setState({data: data});
                    }.bind(this),
                    error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                }.bind(this)
            });
        },
        getInitialState: function() {
            return {data: {pictures:[{title:""}]}};
        },
        componentDidMount: function() {
            this.loadCommentsFromServer();
            setInterval(this.loadCommentsFromServer, this.props.pollInterval);
        },
        render: function() {
            return (
                <Wrapper data={this.state.data} />
                );
            }
        });

        ReactDOM.render(
          <ArticleContainer url="http://188.166.174.48:8080/article/1" pollInterval={2000} />,
          document.getElementById('react_content')
        );
    </script>
  </body>
</html>
