<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>XavOnRails</title>
    <meta charset="utf-8" />
    <!--JS-->
    <script src="../static/lib/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/lib/topojson.v1.min.js"></script>
    </style>


</script>
    <!--STYLES-->
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:701px)" href="../static/css/map.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width:700px)" href="../static/css/mobile_map3.css">
  </head>
  <body> 
    <div id="article_list">
        <img src="../static/resources/pictures/undefined/logo.jpg">
        <h1>xav on rails</h1> 
    </div>
    <div id="map_container"></div>
    <script>

        var width = 1200,
        height = 800;
        
        var svg = d3.select("#map_container").append("svg")
            .attr("width", width)
            .attr("height", height);

        d3.json("../static/maps/euras3.json", function(error, euras) {
        if (error) return console.error(error);

		d3.json("http://xavonrails.com/map/articles", function(error, arts) {
        if (error) return console.error(error);
        euras["objects"]["arts"] = arts;

        var arts = topojson.feature(euras, euras.objects.arts);
        var subunits = topojson.feature(euras, euras.objects.subunits);
        var places = topojson.feature(euras, euras.objects.places);

	var list = d3.select('#article_list')
	    .append('ul')
	    .selectAll('li').data(arts.features)
          .enter().append("li").append('a')
            .attr("href", function(d){return "http://xavonrails.com/"+d.properties.id;})
	    .append('text')
	    .attr('class', 'list_label')
            .text(function(d) {return d.properties.name; });

        var projection = d3.geo.albers()
            .rotate([-105, 0])
            .center([-10, 65])
            .parallels([52, 64])
            .scale(600)
            .translate([width / 2, height / 3]);

        var path = d3.geo.path()
            .projection(projection);

        svg.selectAll(".subunits")
            .data(topojson.feature(euras, euras.objects.subunits).features)
          .enter().append("path")
            .attr("class", function(d) { return "subunits " + d.id; })
            .attr("d", path);

        svg.append("path")
            .datum(topojson.mesh(euras, euras.objects.subunits, function(a, b) { return a == b}))
            .attr("d", path)
            .attr("class", "subunit-outer-boundary");

        svg.append("path")
            .datum(topojson.mesh(euras, euras.objects.subunits, function(a, b) { return a !== b}))
            .attr("d", path)
            .attr("class", "subunit-boundary");

        svg.selectAll("subunits-label")
            .data(topojson.feature(euras, euras.objects.subunits).features)
          .enter().append("text")
            .attr("class", function(d) { return "subunit-label "+ d.id; })
            .attr("transform", function(d) {return "translate(" + path.centroid(d) + ")"; })
	    .attr("dy", ".35em")
            .text(function(d) {return d.properties.name; });


        svg.append("path")
          .datum(places)
          .attr("d", path.pointRadius(2))
          .attr("class", "place");


        svg.selectAll(".place-label")
            .data(places.features)
          .enter().append("text")
            .attr("class", "place-label")
            .attr("transform", function(d) { return "translate(" + projection(d.geometry.coordinates) + ")"; })
            .attr("dy", ".25em")
            .attr("dx", ".5em")
            .attr("font-size","0.8em")
            .text(function(d) { return d.properties.name; });

        svg.append("path")
          .datum(arts)
          .attr("d", path.pointRadius(4))
          .attr("class", "art_circle");


        svg.selectAll(".art-label")
            .data(arts.features)
          .enter().append("svg:a")
            .attr("xlink:href", function(d){return "http://xavonrails.com/"+d.properties.id;})
          .append("text")
            .attr("class", "art-label")
            .attr("transform", function(d) { return "translate(" + projection(d.geometry.coordinates) + ")"; })
            .attr("dy", ".25em")
            .attr("dx", "0.5em")
            .attr("font-size","0.8em")
            .text(function(d) { return d.properties.name; });

        });
        });
    </script>
</html>
